body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #A9BCD0;
}

.well {
    background-color: #D8DBE2;
}

.gm-piece {
    max-height: 200px;
    height: 15vw;
    margin: 0 auto;
    padding: 0;
}

.token {
    max-width: 100%;
    max-height: 100%;
}

.gameboard {
    max-width: 600px;
    max-height: 600px;
/*    min-width: 240px;
    min-height: 240px;
*/}

.header {
    text-align: center;
}

#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9 {
    border-top: solid black;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
    border-bottom: solid black;
}

#btn1,
#btn2,
#btn4,
#btn5,
#btn7,
#btn8 {
    border-right: solid black;
}

#btn2,
#btn3,
#btn5,
#btn6,
#btn8,
#btn9 {
    border-left: solid black;
}
