body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.gm-space {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.gm-piece {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.token {
    max-width: 100%;
    max-height: 100%;
}

.gameboard {
    max-width: 900px;
    min-width: 240px;
}

.header {
    text-align: center;
}

#div4, #div5, #div6, #div7, #div8, #div9 {
    border-top: solid black;
}
#div1, #div2, #div3, #div4, #div5, #div6 {
    border-bottom: solid black;
}
#div1, #div2, #div4, #div5, #div7, #div8{
    border-right: solid black;
}
#div2, #div3, #div5, #div6, #div8, #div9{
    border-left: solid black;
}